{% extends 'base2.html' %}
{% load static %}
{% block title %}Software Quality Group - Checklist{% endblock %}

{% block content %}
<section class="parallax parallax-2"
	style=" background: url({% static 'images/services_bg.jpg' %}) center no-repeat fixed;">
	<div class="overlay dark-4">
		<!-- dark overlay [1 to 9 opacity] -->
	</div>
	<div class="text-center mt-100 mb-100">
		<h2 class="fs-30">Checklists</h2>
	</div>
</section>
<!-- Welcome -->
<section class="p-1">
	<div class="pt-20 pb-40" style=" background:url({% static 'images/res_bg.jpg' %}) repeat;">
		<div class="container">
			<div class="row mt-20">
				<div class="col-lg-12 gauid_int">
					<div class="row mt-10 mb-10">
						<div class="col-md-2 col-sm-3" align="center">
							<a href="{% static 'documents/checklist/WebAppQuality_Chklist_Version1.1.pdf' %}"
								target="_blank">
								<img src="{% static 'images/quality_asso_checklist.jpg' %}" class="img-responsive"
									alt="" style="border: 2px solid #0060aa30;" />
							</a>
						</div>
						<div class="col-md-10 col-sm-9">
							<div class="mb-10">
								<h1 class="m-0 fs-25">Quality Assurance Checklist</h1>
								<p>NIC is involved in design and development of large scale e-governance applications
									for various Ministries/Departments/State Governments. The quality of these
									applications in terms of functionality, reliability, performance, supportability,
									modularity, secuirty etc. is of paramount importance and can have impact on
									usability of these applications. Based on the best practices, Software Quality Group
									has prepared basic quality assurance checklist for eGovernnance Applications. The
									checklistlists out important basic quality attributes which needs to be incorporated
									in applications.
									<a href="{% static 'documents/checklist/WebAppQuality_Chklist_Version1.1.pdf' %}"
										style="color:#0400fb;" target="_blank">
										Read
										<span class="word-rotator active1" data-delay="2000">
											<span class="items" style="top: 0px;">
												<span>more</span>
												<span>now</span>
												<span>more</span>
											</span>
										</span>....
										<i class="glyphicon glyphicon-menu-right fs-12"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-20">
				<div class="col-lg-12 gauid_int1">
					<div class="row mt-10 mb-10">
						<div class="col-md-2 col-sm-3" align="center">
							<a href="{% static 'documents/checklist/SOFTWARE PRODUCTIZATION SELF ASSESSMENT CHECKLISTV1.pdf' %}"
								target="_blank">
								<img src="{% static 'images/sw_pro_ass_checklist.jpg' %}" class="img-responsive" alt=""
									style="border: 2px solid #0060aa30;" />
							</a>
						</div>
						<div class="col-md-10 col-sm-9">
							<div class="mb-10">
								<h1 class="m-0 fs-25">Software Productization Self-Assessment Checklist</h1>
								<p>NIC is involved in design and development of large scale e-governance applications. Number of these applications are reusable across Ministries/Departments/State Governments/Organisations and can also be replicated for government departments in other countries. For the applications to be reusable it needs to be easily configurable, customizable and should be able to meet the key requirements related to design, usability, performance, scalability, maintainability, security, data management, audit etc. Similarly, for product to be reusable across countries, it should support globalization/localization features.
									<a href="{% static 'documents/checklist/SOFTWARE PRODUCTIZATION SELF ASSESSMENT CHECKLISTV1.pdf' %}"
										style="color:#0400fb;" target="_blank">Read<span class="word-rotator active1"
											data-delay="2000">
											<span class="items" style="top: 0px;">
												<span>more</span>
												<span>now</span>
												<span>more</span></span></span>....<i
											class="glyphicon glyphicon-menu-right fs-12"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}